@media (min-width:901px) {
    .menuMobile {
        display: none;
    }
}

@media (max-width:1120px) {
    .formacion ul {
        width: 100%;
        padding: 2vh;
    }

    .formacion p.lenguajes {
        height: 7vh;
    }
}

@media (max-width:900px) {
    nav.menuNavigation {
        position: fixed;
        height: max-content;
        margin: 0;
        padding: 0;
    }

    nav.menuNavigation h1 {
        padding-left: 20px;
        font-size: 3vh;
        width: 45%;
    }

    .switch {
        width: 80px;
    }
    .switch ion-icon{
        width: 25px;
        height: 25px;
    }

    .menuNavigation ul {
        display: none;
        height: 50vh;
        justify-content: center;
        gap: 5%;
        flex-direction: column;
        width: 100%;
        top: 12%;
    }

    .menuNavigation ul a {
        width: 100%;
    }

    .menuNavigation ul li {
        font-size: 3vh;
    }
    section.presentacion{
        margin-top:12vh ;
    }
    .presentacion img {
        width: 70%;
    }

    .description {
        width: 90%;
    }
    .description h2{
        width: 100%;
        font-size: 3.5vh;
    }
    .description p{
        font-size: 2vh;
    }
    .description ul{
        gap: 4%;
        padding-top: 10%;
    }
    .description ul li{
        width: 25%;
    }
    .sobreMi .description{
        width: 100%;
    }
    .sobreMi::after{
        width: 25vh;
        height: 25vh;
        top:80%;
        right: 5%;
    }
    .sobreMi img{
        margin-left: 50%;
        margin-top: 5vh;
        width: 40%;
        animation: none;
    }
    .skills li{
        padding-block: 5%;
        font-size: 2vh;
        width: 33%;
    }
    .hobbies::after{
        width: 5vh;
        height: 5vh;
        right: 10%;
        box-shadow: -30vh -5vh 0px 0px #4639ffc5;
    }
    .hobbies::before{
        width: 17vh;
        height: 17vh;
        left: 3%;
        bottom: 10%;
        box-shadow: 50vw -5vh 0px 0px #4639ffc5;
    }
    .hobbies h2{
        height: 10vh;
    }
    .hobbies ul{
        gap: 0%;
    }
    .hobbies ul li{
        padding-block: 5%;
        width: 50% ;
        font-size: 2.3vh;
        font-weight: 600;
    }
    .formacion h2 {
        margin-bottom: 0vh;
    }
    .formacion ul {
        flex-direction: column;
        width: 100%;
        padding: 2vh;
    }

    .formacion ul li {
        width: 100%;
    }

    .formacion p.lenguajes {
        height: 7vh;
    }
    .formacion img{
        width: 100%;
    }
    .proyectos ul li{
        width: 100%;
    }
    .proyectos::after{
        width: 40vh;
        height: 40vh;
        top: 75%;
        left: 0;
        background: #ffbd59;
        box-shadow: 5vh -25vh 0px 0px #4639ffc5;
    }
    .proyectos::before{
        width: 30vh;
        height: 30vh;
        top: 10%;
        box-shadow: 10vh 25vh 0px 0px #4639ffc5;
    }
    .contacto{
        flex-direction: column;
    }
    .contacto .tarjetaContacto{
        width: 100%;
        padding: 10%;
    }
    .contacto .tarjetaContacto:after{
        width: 30vh;
        height: 30vh;
        bottom:  -20%;
        right: -20%;
    }
    .contacto .tarjetaContacto::before{
        width: 20vh;
        height: 20vh;
        bottom: 35%;
        right: -20%;
    }
    .tarjetaContacto h3{
        height: 13vh;
    }
    .contacto .contactoForm{
        margin-top: 5vh;
        width: 100%;
    }
    .contactoForm input,.contactoForm textarea{
        width: 100%;
        font-size: 2vh;
    }
    .contactoForm button{
        width: 100%;
    }
}